:root {
	--body-bg-color: #DFF2C7;
	--color-0: #f3edf7d3;
	--color-1: #F6FBF1;
	--color-2: #A9C683;
	--color-3: #6B7D53;
	--color-4: #E9A125;
    --color-5: #333;
}

body {
	background-color: var(--body-bg-color);
}

/* Layout */
.dishDetailsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 5%;
}

/** Dish Details Description CSS*/
.dishDetailsSection{
    display: flex;
    flex-direction: center;
    align-items: flex-start;
    gap: 40px;
    color: var(--color-5)
}

.dishPic {
    max-width: 500px; 
    border-radius: 15px;
    border: 3px solid var(--color-2);
}

.dishInformation{
    display: flex;
    flex-direction: column;
}

.dishIdentifier {
    display: flex;
    align-items: center;
    gap: 5px;
}

.dishName{
    margin-bottom: 0px;
    font-size: 2rem;
}

.dishLocation {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.dishRating {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.wordRating {
    padding-left: 5px;
}

.dollarSign{
    font-size: 20px;
}

.dishPrice {
    margin: 15px 0px;
}

.descriptionTitle{
    margin-top: 0px;
    margin-bottom: 10px;
}

.descriptionContainer {
    background-color: var(--color-1);
    padding: 15px 20px;
    border-radius: 10px;
    border: 0.5px var(--color-0);
    max-height: 200px;
    overflow-y: auto;
    font-size: 1rem;
}

.likeAndRecommend{
    font-size: 1.2rem;
    margin: 10px;
}

/** Divider */
.dishDetailsDivider {
    height: 5px; 
    background: linear-gradient(to top, rgba(255, 165, 0, 0), rgba(255, 165, 0, 1), rgba(255, 165, 0, 0)); 
    margin: 20px 0; 
    border: none; 
    width: 100%; 
}

/** Review Form CSS*/
.reviewForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--color-5)
}

.reviewFormTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.starRating {
    display: flex;
    align-items: center;
}

.starRatingText{
    margin-top: 5px;
    margin-right: 5px;
}

.star {
    font-size: 30px;
    color: #919191;
    cursor: pointer;
    transition: color 0.3s ease;
}

.star.filled {
    color:  rgb(245, 208, 0);
}

.halfStar{
    height: 25px;
    width: 25px;
    padding-top: 3px;
}

.empty-star {
    color: #E0E0E0; 
}

textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--color-0);
    border-radius: 5px;
    width: 100%;
    resize: vertical;
}

.recLikeButton {
    background-color: var(--color-2);
    border: 1px solid transparent; 
    padding: 4px 16px;
    margin-left: 7px;
    border-radius: 5px;
    font-family: inherit;
    transition: background-color 0.25s, border 0.25s;
    cursor: pointer;
}

.recLikeButton:hover{
    background-color: var(--color-3);
}

.recLikeButton.selected {
    background-color: var(--color-3);
    border-color: var(--color-4);
}

.likeRecTitle{
    margin: 7px;
}

.submitReview {
    background-color: var(--color-2);
    padding: 4px 16px;
    border-radius: 5px;
    font-family: inherit;
    cursor: pointer;
    width: 500px;
    align-items: center;
    margin: 0 auto; 
    font-size: 1.5rem;
}

.submitReview:hover {
    background-color: var(--color-3);
}

/** Divider */

/** Review List CSS*/
.reviewList{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.reviewListTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.sortOptions{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-self: right;
    padding: 10px;
    background-color: var(--color-2);
    border-radius: 5px;
}

.reviewSortChoices{
    margin-top: 3px;
    border: 0.5px dotted grey;
    border-radius: 3px;
}

.reviewListContent {
    max-height: 1000px;
    overflow-y: auto;
    padding-right: 10px;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
}

.FoodReview {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    border: 1px solid var(--color-0);
    border-radius: 10px;
    width: 100%; 
    box-sizing: border-box; 
}

.reviewText {
    word-wrap: break-word; 
    overflow-wrap: break-word;
}

/* Responsive Design */
@media (max-width: 1200px) {
    .dishDetailsSection {
        flex-direction: column;
        align-items: center;
    }

    textarea {
        width: 95%;
    }

    .dishPic, .dishInformation {
        max-width: 100%;
        min-width: 0;
    }

    .submitReview {
        width: 100%;
        margin: 10px;
    }

    .FoodReview {
        flex-direction: column;
        align-items: center;
        padding: 15px; 
    }

    .reviewContent {
        align-items: center;
        text-align: center;
        padding: 10px; 
        width: 100%; 
    }

    .reviewText {
        word-break: break-word; 
        width: 100%; 
    }
}