:root {
	--body-bg-color: #DFF2C7;
	--color-0: #f3edf7d3;
	--color-1: #F6FBF1;
	--color-2: #A9C683;
	--color-3: #6B7D53;
	--color-4: #E9A125;
    --color-5: #333;
}

body {
    background-color: var(--body-bg-color);
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.FoodReview {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    border: 1px solid var(--color-0);
    border-radius: 10px;
    width: 100%; 
    box-sizing: border-box; 
}

.reviewContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: var(--color-1);
    border-radius: 10px;
    border: 3px solid var(--color-2);
    height: 200px;
    width: 100%; 
}

.reviewInformation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.reviewBody {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-top: 20px;
    padding: 1rem;
    width: 200%;
}

.reviewText {
    max-height: 150px;
    overflow-y: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 1rem;
    padding-bottom: 0;
}

.revPic {
    width: 250px;
    margin: 5px;
    margin-right: 15px;
	border: 3px solid var(--color-2);
	border-radius: 10px;
}

.reviewDivider {
    border: none;
    height: 80%;
    background: linear-gradient(to right, rgba(211, 211, 211, 0), rgba(211, 211, 211, 1), rgba(211, 211, 211, 0)); /* Light gray to transparent gradient */
    width: 25px;
}

/* Responsive Design */
@media (max-width: 1000px) {
    .FoodReview {
        flex-direction: column;
        align-items: center;
        padding: 15px; 
    }

    .reviewContent {
        align-items: center;
        text-align: center;
        padding: 10px; 
        width: 100%; 
    }

    .reviewText {
        word-break: break-word; 
        width: 100%; 
    }
}
