/* CSS/Login.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
	--body-bg-color: #DFF2C7;
	--color-0: #f3edf7d3;
	--color-1: #F6FBF1;
	--color-2: #A9C683;
	--color-3: #6B7D53;
	--color-4: #E9A125;
    --color-5: #333;
}

.login body {
    margin: 0;
    padding: 0;
    background-color: var(--body-bg-color);
  }
  
.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    text-align: center;
    box-sizing: border-box;
  }
  
.login_logo-icon {
    width: 800px; /* Adjust size as needed */
    margin-right: 80px;
  }
  
.slogan {
    font-family: 'Inter', sans-serif;
    margin-bottom: 30px;
    color:  var(--color-3);
    font-style: italic;
    font-size: 1.5rem;
}

.google-login-button {
    background-color: var(--color-3);
    color: var(--color-1);
    border: none;
    padding: 10px 200px;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    font-family: 'Inter', sans-serif;
  }
  
.google-login-button:hover {
    background-color: #5A6A46;
  }

@media (max-width: 768px) {
	.login_logo-icon {
		width: 400px; /* Further reduce logo size */
        margin-right: 30px;
	}

    .slogan {
        font-size: 1.1rem;
    }

	.google-login-button {
		padding: 10px 20px; /* Reduce button width further */
	}
}