@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
	--body-bg-color: #DFF2C7;
	--color-0: #77777789;
	--color-1: #F6FBF1;
	--color-2: #A9C683;
	--color-3: #6B7D53;
	--color-4: #E9A125;
}
body {
	background-color: var(--body-bg-color);
}
.gridContainer {
	display: flex;
  	flex-direction: column;
	grid-template-columns: 1fr;
}

.recPics {
	border: 3px solid var(--color-0);
	border-radius: 10px;
	width: 100%;
}
.MenuFilter {
	background-color: var(--color-1);
	position: fixed;
	width: 15%;
	height: 70%;
	padding: 10px;
	border: 1px solid var(--color-0);
	border-radius: 10px;
	margin-left: 20px;
	margin-top: 30px;
}
.slider {
	margin-left: 10px;
	margin-right: 10px;
}

.filterAllergens {
	margin-top: 20px;
}
.checkBoxLocations {
	margin-bottom: 5px;
}

.filterPref .navbar-links {
    display: block;
    list-style: none;
    margin:0;
	margin-top: 5px;
    padding: 0;
}

.filterPref .sortItem {
	background-color: var(--color-3);
	color: white;
	margin-top: 5px;
}


.gridContainer .image-grid {
	display: grid;
	max-width: 70%;
	grid-template-columns: repeat(3, minmax(250px, 1fr));
	grid-auto-rows: minmax(400px, auto);
	column-gap: 50px;
	row-gap: 55px;
	margin-left: 22%;
	margin-top: 40px; 
}

.DishItem {
	background-color: var(--color-1);
	width: 100%;
	height: fit-content;
	padding: 5px;
	border: 1px solid var(--color-0);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	padding: 10px;
	cursor: pointer;
}
.DishItem .gridContainer {
	display: grid;
	max-width: 70%;
	grid-template-columns: repeat(2, minmax(60%, 1fr));
	grid-auto-rows: minmax(auto, auto);
	column-gap: 70%;
	row-gap: 5px;
}
.DishItem h2,h3,p {
	padding: 0;
	margin: 0;
	float: left;
	display: flex;
	flex-direction: column;
}
.DishItem .recImageText {
	padding: 0;
	margin: 0;
	float: left;
	display: flex;
	flex-direction: column;
}
.DishItem .recImageRating {
	float: right;
	display: flex;
	flex-direction: column;
}

.recNavBar {
	width: 100vw;
	position: fixed;
}


.RecommendSearch input {
	background-color: white;
	border: 2px solid var(--color-0);
	border-radius: 25px;
	margin-left: 22%;
	margin-top: 60px;
	width: 25%;
	height: 40px;
	font-family: 'Inter', sans-serif;
	padding-left: 20px;
}

.sortFilter {
	width: fit-content;
	height: 40px;
	margin-left: 69%;
	margin-top: -45px;
	/* padding: 1px 3px; */

}

.sortItem {
	margin: 0px 15px;
    color: #333;
    cursor: pointer;
    font-size: 1rem;  
    padding: 5px 10px;
	background-color: white;
	border: 2px solid var(--color-0);
	border-radius: 8px;
	margin-right: 0.5px;
	width: fit-content;
}