/* Navbar.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
	--body-bg-color: #DFF2C7;
	--color-0: #f3edf7d3;
	--color-1: #F6FBF1;
	--color-2: #A9C683;
	--color-3: #6B7D53;
	--color-4: #E9A125;
    --color-5: #333;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-2);
    padding: 10px 30px;
    font-family: 'Inter', sans-serif;
    flex-wrap: wrap; /* Allows items to wrap if space is constrained */
}
  
.logo-icon {
    width: 310px;
    height: 75px;
}
  
.navbar-item {
    margin: 0px 10px;
    cursor: pointer;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 8px;
    color: var(--color--5);
    font-size: 1.2rem;  
}

.navbar-item:hover {
    background-color: var(--color-1);
}
  
.navbar-item.selected {
    background-color: var(--color-1);
}
  
.navbar-auth {
    display: flex;
    gap: 10px;
}

.logout-btn {
    padding: 5px 15px;
    margin: 10px;
    cursor: pointer;
    background-color: var(--color-1);
    border: 2px solid var(--color-0);
    border-radius: 8px;
    color: var(--color--5);
    font-size: 1.2rem;  
  }

.logout-btn:hover {
    background-color: var(--color-0);
}