:root {
	--body-bg-color: #DFF2C7;
	--color-0: #f3edf7d3;
	--color-1: #F6FBF1;
	--color-2: #A9C683;
	--color-3: #6B7D53;
	--color-4: #E9A125;
}

body {
	background-color: var(--body-bg-color);
}

.gridContainer {
	display: flex;
  	flex-direction: column;
	grid-template-columns: 1fr;
}


.gridContainer .image-grid {
	display: grid;
	max-width: 70%;
	grid-template-columns: repeat(3, minmax(250px, 1fr));
	grid-auto-rows: minmax(400px, auto);
	column-gap: 50px;
	row-gap: 55px;
	margin-left: 22%;
	margin-top: 200px; /* temp top margin, waiting for naBar */
}

.recPics {
	border: 3px solid var(--color-0);
	border-radius: 10px;
	margin: 5px;
}

.RecommendFilter {
	background-color: var(--color-1);
	position: fixed;
	width: 15%;
	height: 70%;
	padding: 10px;
	border: 1px solid var(--color-0);
	border-radius: 10px;
	margin-left: 20px;
	margin-top: 120px; /* temp top margin, waiting for naBar */
}

.RecommendImage {
	background-color: var(--color-1);
	width: 100%;
	height: fit-content;
	padding: 5px;
	border: 1px solid var(--color-0);
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	padding: 10px;
	cursor: pointer;
}

.RecommendImage .gridContainer {
	display: grid;
	max-width: 70%;
	grid-template-columns: repeat(2, minmax(60%, 1fr));
	grid-auto-rows: minmax(auto, auto);
	column-gap: 70px;
	row-gap: 5px;

}
.RecommendImage h2,h3,p {
	padding: 0;
	margin: 0;
	float: left;
	display: flex;
	flex-direction: column;
}
.RecommendImage .recImageText {
	padding: 0;
	margin: 0;
	float: left;
	display: flex;
	flex-direction: column;
}
.RecommendImage .recImageRating {
	float: right;
	display: flex;
	flex-direction: column;
}
